.*
*~
*~*
*.class
.idea/**/*
*.iml
*.orig
original-templates
pomodoros/#*
queryj-ant-task/target
queryj-core/target
queryj-debugging-ant-task/target
queryj-debugging-maven-plugin/target
queryj-debugging/target
queryj-maven-plugin/target
queryj-placeholders/target
queryj-template-packaging-maven-plugin/target
queryj-template-packaging/target
queryj-templates/*.java
queryj-templates/*.properties
queryj-templates/src/test/resources/**/*.feature_
queryj-templates/target
queryj-test/target
*.rej
*.swp
target/**/*
*.versionsBackup
